/* Styling for the Home page */
.app-container {
  background-image: url('./assets/mak2.jpg');
  background-size: cover;
  background-position: center;
  background-color: #f0f0f0d7;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  background-color: #4c4648b5;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-button {
  background-color: #61e4b0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
cd
.nav-button:hover {
  background-color: #3e8e41;
}
.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.welcome-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

/* .issue-button, */
.register-button,
.login-button {
  background-color: #0a580d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


.register-button:hover,
.login-button:hover {
  background-color: #3e8e41;
}

/* Styling for the login page */
.Register-page,
.login-page {
  height: 100vh;
  margin-bottom: 0px;
  background-color: linear-gradient(135deg, #f0f8ff, #e1e8f0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.login-input {
   width: 350px;
   height: 35px;
   border-radius: 8px;
   padding: 10px;
   margin-bottom: 20px; 
   border: 1px solid #333;
   background-color: #f8f8f8;
   box-shadow: 0px 0px 12px 3px rgba(76, 175, 80, 0.2);
   transition: all 0.3s ease-in-out;

  
}

.Forgot-Password {
  margin-left: 100px;

}

.First-Name,
.Last-Name,
.Register-input, 
.Submit-Button,
.login {
  width: 370px; 
  height: 45px; 
  border-radius: 10px;
  background-color: #4caf50;
  border: 1px solid #333;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}


.without-account {
  margin-left: 5px;
  color: #4caf50;
}

.without {
  margin-left: 60px;
}

/*Styling for the login page*/

.First-Name,
.Last-Name {
  width: 175px;
}

.Last-Name {
  margin-left: 13px;
}

.Submit-Button {
  background-color: #388e3c;
  width: 375px;
}

